.example-card {
  max-width: 400px;

}

.example-header-image {

  background-size: cover;
}

.btn-blue{
  color: blue !important;
}

.card-section{
  margin: 20px;
  justify-content: center;
  display: flex;

}