

.card-section {
  background-color: rgb(240, 239, 239);
}
.example-card {
    
    max-width: 600px; 
    width: 100%; 
    padding: 2rem;
    
  }
  
.example-header-image {
    
    background-size: cover;
  }

.btn-blue{
    color: blue !important;
}

.card-section{
    margin: 20px;
    justify-content: center;
    display: flex;
    
      min-height: 100vh; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      margin: 0; 
      padding: 20px; 
      box-sizing: border-box; 
    

}


