.container-main{
    display: flex;
    
    column-gap: 20px;
    cursor: pointer;
    border: solid 1px #000;
    margin-bottom: 5px;
}
.cont-list-ppal{
    display: flex;
}
.exercise-item {
    margin-bottom: 16px;
    cursor: pointer;
   
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: azure;
  }
  
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }