<section>
    <div *ngFor="let exercise of exerciseList, ; index as i">
        <div class="container-main">
            <div [routerLink]="[ exercise._id]">
                <div class="img" >
                    <h2>{{exercise.muscle}}</h2>
                </div>
                <div class="middle">
                    <div>
                        <h2>{{exercise.exerciseName}}</h2>
                    </div>
                    <div><h3>{{exercise.level}}</h3></div>
                </div>
            </div>
            
            <div class="botones"></div>
        </div>
    </div>
   
</section>