
body {
  background-color: rgb(240, 239, 239);
}
.mat-typography {
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 239, 239);
}
.container-main{
    display: flex;
    
    column-gap: 20px;
    cursor: pointer;
    border: solid 1px #000;
    margin-bottom: 5px;
}

.cont-list-ppal{
    display: flex;
}
.exercise-item {
    margin-bottom: 16px;
    cursor: pointer;
   
   
  }
  
  mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #000;
    color: azure;
  }

  mat-card-subtitle {
    color: azure;
  }
  
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  mat-card-content {
    width: 200px !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:16px !important ;
  }
  .img-list {
    max-width: 70%;
    height: auto;
    
  }

  .search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #572bc0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #9ea19e;
  }