.register-card {
  max-width: 500px; 
  margin: auto; 
  padding: 2rem;
}

  form {
    display: flex;
    flex-direction: column;
  }

  .register-component {
    height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    
  }


  