
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  
  .mat-typography {
    font-family: 'Roboto', sans-serif;
  }
  
  ::ng-deep .exercise-list-container {
    top: 64px; 
  }
  
  
