<div class="container">
  <div class="welcome-message">
    Bienvenido a Build Your Body {{ userObj.name }}
  </div>

  <div class="routines-list">
    <div class="routine-item" *ngFor="let routine of userObj.favRoutines">
      <div class="exercises-list">
        <div class="exercise-item"  *ngFor="let exercise of routine.exercise" [routerLink]="'/lista/'+[exercise._id]">
          <div class="exercise-name">Nombre: {{ exercise.exerciseName }}</div>
          <div class="exercise-muscle">Músculo: {{ exercise.muscle }}</div>

          <!-- Otros detalles del ejercicio -->
        </div>
      </div>
    </div>
  </div>
</div>
