body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg {
    background-image: url('../../../assets/home1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.bg::before {
    content: "";
    background-image: url('../../../assets/logo.png');
    background-size: 60vw 80vh; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Ajusta la opacidad según sea necesario */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; 
    height: 50vh; 
    z-index: 1;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 50px;
}

.btn {
    background-color: rgb(218, 216, 216);
    color: #2a2b2d;
    border: 2px solid #2a2b2d;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes textPopUp {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes textFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
