<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BYB - Tu App de Ejercicios de Gimnasio</title>
  </head>
  <body>
    <div class="bg">
      <div class="content">
        <h1>Bienvenido a BYB</h1>
        <p>
          Transforma tu rutina de ejercicios con nuestras guías personalizadas y
          seguimiento de progreso.
        </p>
        <a href="http://localhost:4200/login" class="btn">Comienza Ahora</a>
       
      </div>
    </div>
  </body>
</html>
